<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation = "http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id = "javaCollection" class = "com.tutorial.JavaCollection">
    
    	<property name = "addressList">
    		<list>
    			<value>Bulgaria</value>
    			<value>Deutschland</value>
    			<value>USA</value>
    			<value>Italy</value>
    		</list>
    	</property>
    	
    	<property name = "addressSet">
    		<set>
    			<value>Bulgaria</value>
    			<value>Deutschland</value>
    			<value>USA</value>
    			<value>Italy</value>
    		</set>
    	</property>
    	
    	<property name = "addressMap">
    		<map>
    			<entry key = "1" value = "Bulgaria"/>
    			<entry key = "2" value = "Deutschland"/>
    			<entry key = "3" value = "USA"/>
    			<entry key = "4" value = "Italy"/>
    		</map>
    	</property>
    	
    	<property name = "addressProperties">
    		<props>
    			<prop key="one">Bulgaria</prop>
    			<prop key="two">Deutschland</prop>
    			<prop key="two">Deutschland</prop>
    			<prop key="three">USA</prop>
    			<prop key="four">Italy</prop>
    		</props>
    	</property> 
    	
    </bean>
    
   <!-- <bean class = "com.tutorial.InitHelloWorld" /> -->
    
</beans>